<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>front_end_html</title>
    <script src="{{url_for('static', filename='data_test.js')}}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

<div align="center">

    <h1>Sneaky Display Page</h1>
    <p>
        Wanna Find Free Shits to Eat at Carnegie Mellon? <br>
        Then use our Sneaky, you greedy little prick!
    </p>
    <p>
        <br>
        <button onclick="delete_row()">Delete Row</button>
        <button onclick="main()">Refresh</button>
        <button onclick="apply_css()">Apply CSS</button>
        <br>
        <!-- POST REQUEST TO EXTRACT TABLE FROM BACKEND -->
        <script>
            const HTTP = new XMLHttpRequest();
            //To make connection to another PC on the same LAN, change url to
            //his server, i.e. "128.237.123.187:5000/"
            const url = 'http://localhost:5000/posts';
            HTTP.open("POST", url, true);
            HTTP.send();
            HTTP.onreadystatechange = function(ev) {
                console.log(HTTP.readyState);
                //Check Status: 4 Fully Received
                if (HTTP.readyState === 4) {
                    console.log(HTTP.responseText);
                    create_table(JSON.parse(HTTP.responseText));
                }
            }
        </script>
    </p>

    <!-- Embedded JS Functions -->
    <script>
        function apply_css(){
            var top_layer = document.getElementsByTagName('th');
            for(var i=0; i<top_layer.length; i++){
                top_layer[i].setAttribute("class", "cyka_class");
            }
        }
    </script>

    <table align="center" id="data_table">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Time</th>
        </tr>
    </table>

</div>


</body>
</html>